/* 전체 페이지 기본 설정 */
body {
    margin: 0;                     /* 기본 margin 제거 */
    font-family: Arial, sans-serif; /* 글꼴 지정 */
    background-color: #f9f9f9;      /* 밝은 배경 */
    color: #333;                    /* 기본 글자색 */
    line-height: 1.6;               /* 가독성 좋은 줄 간격 */
    
    /* 헤더와 푸터가 fixed라서 본문이 겹치지 않도록 padding 추가 */
    padding-top: 70px;              /* header 높이만큼 */
    padding-bottom: 30px;           /* footer 높이만큼 */
  
  
    /* min-height: 95%; */
    display: flex;
    flex-direction: column; /* 세로 배치 */


  }



  body .container {
    width: 100%;       /* 원하는 너비 */
    margin: 0 auto;   /* 좌우 자동 여백 → 가로 가운데 */
    padding-top: 0px;
    padding-bottom: 0px;
    flex: 1; /* 본문 영역이 남은 공간을 채움 */
  }
  

  

#root {
  width: 100%;
  height: 80%;
}



  
  /* 메인 컨텐츠 영역 */
  main {
    max-width: 1200px;
    margin: 0 auto;                 /* 가운데 정렬 */
    padding: 10px;
  }
  

  