.container {
    display: flex;
    justify-content: center; /* 가로 가운데 */
    align-items: center;     /* 세로 가운데 */
    height: 100vh;           /* 화면 전체 높이 */
    width: 50%;              /* body의 50% 너비 */
    margin: 0 auto;         /* 좌우 자동 여백 → body 기준 가운데*/
  
  }
  