.header {
    background-color: #333;       /* 어두운 헤더 배경 */
    color: #fff;                  /* 글자 흰색 */
    padding: 15px 0;
    /* position: sticky;             스크롤해도 상단 고정 */
     position: fixed;           /*  스크롤해도 상단 고정 */
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;                /* 가로 배치 */
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .nav {
    display: flex;
    gap: 20px;
  }
  
  .nav a {
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s;
    margin-top: 5px;
  }
  
  .nav a:hover {
    color: #fff;
  }
  
  .logout-btn {
    background: #ff4d4d;
    border: none;
    color: #fff;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .logout-btn:hover {
    background: #e60000;
  }
  
  .welcome {
    display: flex;
    font-size: 14px;
  }

  .welcome > #logingreeting {
    margin-top: 5px;
    margin-right: 10px;
  }